################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/e-commerce/obj
/e-commerce/bin
/e-commerce/e-commerce.csproj.user
