################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/e-commerce/obj
/e-commerce/bin
/e-commerce/e-commerce.csproj.user
/e-commerce.Models/bin
/e-commerce.Models/obj
/e-commerce.Services/bin
/e-commerce.Services/obj
/e-commerce.ConsoleApp/obj
/e-commerce.ConsoleApp/bin
